{% extends 'base.html' %}

{% block content %}
    <div class="home-div">
        <img src="{{ url_for('static', filename='images/learning.jpg') }}" class="home-img">
        <div class="info-div">
            {% if g.user %}
                <h1>Welcome {{ g.user.username.capitalize() }}, </h1>
            {% else %}
                <h1>Let's Start with Login, Guest </h1>
            {% endif %}
            <h4> Unlock Knowledge, Embrace Fun: Your Journey Starts
            </h4>
            <a href="{{ url_for('question', id=1)}}">Take the test</a>
        </div>
        <div class="weather-widget">
            <h3>{{city_data.name}}: {{temp_celcius}}°C</h3>
            <h4>Weather: {{weather.description}}</h4>
            <p>Date and time: {{dt_txt}}</p>
        </div>
    </div>
{% endblock %}